*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(233deg, #0b131e, #0e1724, #101b2a, #121f31, #142337);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes AnimationName {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.container{
    width: 23%;
    height: 63%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #0b131e;
    color: #eef2f5;
    box-shadow: 7px 4px 25px 6px rgba(33, 50, 72, 0.75);
    min-height: 620px;
    min-width: 300px;
}

.search, .place, .time_n_date, .icon, .temp, .condition, .grid_div, .poweredBy{
    margin: 5px;
} 

.search{
    width: 100%;
    height: 40px;
}

.searchBox{
    width: 80%;
    height: 25px;
    border-radius: 100px;
    padding: 5px;
    background-color: #2d3a4e;
    color: #eef2f5;
    border: none;
    font-weight: 700;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #2d3a4e;
    box-shadow: 7px 4px 25px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: #eef2f5;
    transition: background-color 0.3s;
}

.dropdown-item:hover, .dropdown-item.selected {
    background-color: #37465a;
}

.searchButton{
    width: 15%;
    height: 35px;
    border-radius: 100px;
    padding: 2px;
    background-color: #2d3a4e;
    color: #eef2f5;
    border: none;
    font-weight: 700;
}

.place{
    font-size: 30px;
    font-weight: 700;
}

.region_n_country{
    font-size: 12px;
}

.time_n_date{
    font-size: 15px;
    font-weight: 500;
}

.icon{
    width: 6rem;
    height: 6rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.temp{
    font-size: 45px;
    font-weight: 700;
}

.grid_div{
    width: 100%;
    height: auto;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}

.humidity, .w_speed, .aqi, .feelsLike{
    width: 80%;
    padding: 7px;
    margin: 2px;
    height: 60px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #2d3a4e;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
} 

.spanA{
    font-size: smaller;
    margin-bottom: 5px;
}

.spanB{
    font-size: large;
}

.poweredBy{
    padding-top: 5px;
    font-size: smaller;
    font-weight: 500;
    text-align: center;
}

a{
    color: #9cc5e5;
}

.searchButton:hover{
    background-color: #eef2f5;
    color: #2d3a4e;
    transition-duration: 0.3s;
    cursor: pointer;
}

.searchButton:not(:hover){
    color: #eef2f5;
    background-color: #2d3a4e;
    transition-duration: 0.3s;
}

.searchBox:focus{
    border: none;
    outline: none;
    background-color: #eef2f5;
    color: #2d3a4e;
    transition-duration: 0.2s;
}

.searchBox:not(:focus){
    background-color: #2d3a4e;
    color: #eef2f5;
    transition-duration: 0.2s;
    }
    
    .dropdown::-webkit-scrollbar {
    width: 8px;
    }
    
    .dropdown::-webkit-scrollbar-track {
    background: #2d3a4e;
    }
    
    .dropdown::-webkit-scrollbar-thumb {
    background-color: #37465a;
    border-radius: 20px;
    border: 3px solid #2d3a4e;
    }