*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(53,69,69);
    background: linear-gradient(0deg, rgba(53,69,69,1) 0%, rgba(19,19,18,1) 100%);
}

.container{
    width: 23%;
    height: 63%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #0b131e;
    color: #eef2f5;
    box-shadow: 0px 0px 10px 1px #eef2f5;
}

.search, .place, .time_n_date, .icon, .temp, .condition, .grid_div, .poweredBy{
    /* border: 2px solid black; */
    margin: 5px;
} 

.search{
    width: 100%;
    height: 40px;
}

.searchBox{
    width: 80%;
    height: 25px;
    border-radius: 100px;
    padding: 5px;
    background-color: #2d3a4e;
    color: #eef2f5;
    border: none;
    font-weight: 700;
}

.searchButton{
    width: 15%;
    height: 35px;
    border-radius: 100px;
    padding: 2px;
    background-color: #2d3a4e;
    color: #eef2f5;
    border: none;
    font-weight: 700;
}

.place{
    font-size: 30px;
    font-weight: 700;
}

.region_n_country{
    font-size: 12px;
}

.time_n_date{
    font-size: 15px;
    font-weight: 500;
}

.icon{
    width: 6rem;
    height: 6rem;
    padding: 15px;
}

.temp{
    font-size: 45px;
    font-weight: 700;
}

.grid_div{
    width: 100%;
    height: auto;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}

.humidity, .w_speed, .aqi, .feelsLike{
    width: 80%;
    padding: 7px;
    margin: 2px;
    height: 60px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #2d3a4e;
    display: flex;
    flex-direction: column;
} 

.spanA{
    font-size: smaller;
    margin-bottom: 5px;
}

.spanB{
    font-size: large;
}

.poweredBy{
    font-size: smaller;
    font-weight: 500;
    text-align: center;
}

a{
    color: #9cc5e5;
    /* text-decoration: none; */
}

.searchButton:hover{
    background-color: #eef2f5;
    color: #2d3a4e;
    transition-duration: 0.3s;
    cursor: pointer;
}

.searchButton:not(:hover){
    color: #eef2f5;
    background-color: #2d3a4e;
    transition-duration: 0.3s;
}

.searchBox:focus{
    border: none;
    outline: none;
    background-color: #eef2f5;
    color: #2d3a4e;
    transition-duration: 0.2s;
}

.searchBox:not(:focus){
    color: #eef2f5;
    background-color: #2d3a4e;
    transition-duration: 0.2s;
}